<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageMapper">   
  	
  	<insert id="newImages" parameterType="ImageDTO">
		INSERT INTO image
		VALUES (IMAGE_NUM.NEXTVAL, #{pImage2}, #{pImage3, jdbcType = VARCHAR}, #{pImage4, jdbcType = VARCHAR}, #{pImage5, jdbcType = VARCHAR})
		<selectKey keyProperty="iNum" resultType="int" order="AFTER"> 
			SELECT IMAGE_NUM.CURRVAL FROM DUAL 
		</selectKey>
	</insert>
  	
  	<select id="getImageByINum" parameterType="int" resultType="ImageDTO">
  		SELECT * FROM image WHERE iNum = #{iNum}
  	</select>
	
</mapper>
